@import '../variables/variables';

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1090;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1210px;
        margin: 0 auto;
        padding: 15px;
        grid-gap: 10px;

        @media (max-width: 980px) {
            grid-gap: 24px;
            padding: 10px;
        }
    }
    &__logo {
        display: block;
        width: 160px;

        @media (max-width: 580px) {
            width: 123px;
        }
        &_img {
            display: block;
            width: 100%;
        }
    }
    &__mobile {
        display: none;
        list-style: none;
        position: relative;

        @media (max-width: 980px) {
            display: block;
        }
        &_btn {
            display: block;
            background: none;
            outline: none;
            border: none;
        }
        &_menu {
            position: absolute;
            right: 0;
            max-height: 0;
            overflow: hidden;
            transition: .3s;

            &_content {
                display: grid;
                grid-gap: 8px;
                padding: 20px;
                background: rgba(229, 36, 64, 0.9);
                box-shadow: 0px 10px 25px rgba(152, 25, 33, 0.15);
                border-radius: 5px;
            }
            &_link {
                display: block;
                text-align: right;
                color: #fff;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;

                &.soon {
                    position: relative;

                    &::before {
                        content: 'soon';
                        position: absolute;
                        padding: 2px 12px;
                        border-radius: 4px;
                        background: #00000090;
                        line-height: 1;
                        bottom: -20px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        display: none;
                        color: #fff;
                        z-index: 1090;
                    }
                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 10px solid #00000090;
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        display: none;
                        z-index: 1090;
                    }
                }
                &:hover {
                    text-decoration-line: underline;

                    &::after,
                    &::before {
                        display: block;
                    }
                }
            }
        }
    }
    &__menu {
        display: grid;
        grid-template-columns: repeat(7, minmax(0px, 110px));
        grid-gap: 8px;
        list-style-type: none;

        @media (max-width: 980px) {
            display: none;
        }
        &_link {
            display: block;
            width: 100%;
            padding: 10px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $middleBlack;
            font-family: $openSans;
            text-decoration: none;
            text-align: center;
            transition: .2s;
            border-radius: 5px;
            border: 1px solid #fff;

            &.soon {
                position: relative;

                &::before {
                    content: 'soon';
                    position: absolute;
                    padding: 2px 12px;
                    border-radius: 4px;
                    background: #00000090;
                    line-height: 1;
                    bottom: -20px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    display: none;
                    color: #fff;
                    z-index: 1090;
                }
                &::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 10px solid #00000090;
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    display: none;
                    z-index: 1090;
                }
            }
            &:hover {
                transition: .2s;
                border: 1px solid #E52440;
                box-shadow: 0px 3px 10px rgba(152, 25, 33, 0.3);

                &::after,
                &::before {
                    display: block;
                }
            }
        }
    }
    &__btn {
        display: block;
        background: #E52440;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border: none;
        outline: none;
        cursor: pointer;
        width: 150px;
        padding: 10px;

        @media (max-width: 980px) {
            width: 24px;
            min-width: 24px;
            height: 24px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
        .desctop {
            display: block;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            text-align: center;

            @media (max-width: 980px) {
                display: none;
            }
        }
        .mobile {
            display: none;

            @media (max-width: 980px) {
                display: block;
            }
        }
    }
}