.footer__content {
  padding: 25px 15px;
}

.forgot {
  position: relative;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 110px 15px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1024px) {
  .forgot {
    align-items: center;
    grid-gap: 20px;
  }
}
@media (max-width: 768px) {
  .forgot {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .forgot {
    padding: 60px 30px;
  }
}
@media (max-width: 480px) {
  .forgot {
    padding: 60px 25px 130px;
  }
}
.forgot__img {
  display: block;
  margin-left: -50px;
}
@media (max-width: 1024px) {
  .forgot__img {
    margin: 0;
    width: 50%;
  }
}
@media (max-width: 580px) {
  .forgot__img {
    width: 100%;
  }
}
.forgot .forgotDec1,
.forgot .forgotDec2,
.forgot .forgotDec3,
.forgot .forgotDec4 {
  position: absolute;
}
.forgot .forgotDec1 {
  top: 20%;
  left: -6%;
}
@media (max-width: 1024px) {
  .forgot .forgotDec1 {
    width: 40px;
    top: 18%;
    left: 3%;
  }
}
@media (max-width: 500px) {
  .forgot .forgotDec1 {
    top: 10%;
  }
}
.forgot .forgotDec2 {
  top: 17%;
  left: 45%;
}
@media (max-width: 1024px) {
  .forgot .forgotDec2 {
    width: 50px;
    left: 40%;
  }
}
@media (max-width: 768px) {
  .forgot .forgotDec2 {
    top: 11%;
    left: 65%;
  }
}
@media (max-width: 580px) {
  .forgot .forgotDec2 {
    display: none;
  }
}
.forgot .forgotDec3 {
  bottom: 0%;
  left: 45%;
}
@media (max-width: 1024px) {
  .forgot .forgotDec3 {
    display: none;
  }
}
.forgot .forgotDec4 {
  bottom: -8%;
  right: 17%;
}
@media (max-width: 1024px) {
  .forgot .forgotDec4 {
    display: none;
  }
}
.forgot__form {
  width: 100%;
  max-width: 475px;
}
@media (max-width: 580px) {
  .forgot__form {
    margin-bottom: 0;
  }
}
.forgot__form_links {
  display: flex;
  position: relative;
  z-index: 1070;
}
@media (max-width: 480px) {
  .forgot__form_links {
    grid-gap: 10px;
  }
}
.forgot__form_links_link {
  display: block;
  width: 100%;
  max-width: 135px;
  background: #FFFFFF;
  border: none;
  border-left: 1px solid #E52440;
  border-right: 1px solid #E52440;
  border-top: 1px solid #E52440;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.3764705882);
}
@media (max-width: 480px) {
  .forgot__form_links_link {
    max-width: 50%;
    padding: 6px;
  }
}
.forgot__form_links_link.active {
  color: #fff;
  background: #E52440;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.forgot__form_content {
  box-shadow: 0px 3px 20px rgba(152, 25, 33, 0.2);
  border-radius: 0px 5px 5px 5px;
  padding: 30px 70px;
  position: relative;
  z-index: 1080;
}
@media (max-width: 1024px) {
  .forgot__form_content {
    padding: 30px;
  }
}
@media (max-width: 580px) {
  .forgot__form_content {
    padding: 30px 45px;
  }
}
.forgot__form_headline {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.3764705882);
  text-align: center;
  margin-bottom: 32px;
  margin-top: 20px;
}
@media (max-width: 480px) {
  .forgot__form_headline {
    margin-bottom: 0;
    margin-top: 7px;
  }
}
.forgot__form_img {
  display: block;
  margin: 0 auto;
}
.forgot__form_img.confirm {
  width: 100%;
  max-width: 290px;
}
@media (max-width: 580px) {
  .forgot__form_img.confirm {
    max-width: 200px;
  }
}
@media (max-width: 480px) {
  .forgot__form_img.confirm {
    max-width: 135px;
  }
}
.forgot__form_btn {
  display: block;
  width: 100%;
  max-width: 275px;
  margin: 20px auto 0;
  background: #E52440;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
@media (max-width: 480px) {
  .forgot__form_btn {
    position: absolute;
    max-width: 260px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -80px;
    padding: 13px;
    font-size: 16px;
    line-height: 22px;
  }
}

.footer__content {
  position: relative;
}
@media (max-width: 580px) {
  .footer__content {
    padding-bottom: 40px;
  }
}

@media (max-width: 580px) {
  .footer__logos {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .footer__logos_logo {
    width: 130px;
  }
  .footer__logos_logo img {
    display: block;
    width: 100%;
  }
  .footer__logos_social_link {
    width: 32px;
    height: 32px;
    min-width: 32px;
  }
  .footer__logos_social_link img {
    width: 165%;
    top: -3px;
    left: -11px;
  }
}

@media (max-width: 580px) {
  .footer__created {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
  }
  .footer__created .footer__created_paragraph1 {
    display: none;
  }
  .footer__created .footer__created_paragraph2 {
    text-align: center;
  }
}/*# sourceMappingURL=check.css.map */